@font-face {
	font-family: '학교안심 바른바탕';
	src: url('../fonts/HakgyoansimBareonbatangB.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: '학교안심 바른바탕';
	src: url('../fonts/HakgyoansimBareonbatangR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '학교안심 바른돋움';
	src: url('../fonts/HakgyoansimBareondotumB.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: '학교안심 바른돋움';
	src: url('../fonts/HakgyoansimBareondotumR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TeXGyreHeros';
	src: url('../fonts/texgyreheros-bold.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'TeXGyreHeros';
	src: url('../fonts/texgyreheros-bolditalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TeXGyreHeros';
	src: url('../fonts/texgyreheros-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TeXGyreHeros';
	src: url('../fonts/texgyreheros-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TeXGyreTermes';
	src: url('../fonts/texgyretermes-bold.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'TeXGyreTermes';
	src: url('../fonts/texgyretermes-bolditalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TeXGyreTermes';
	src: url('../fonts/texgyretermes-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TeXGyreTermes';
	src: url('../fonts/texgyretermes-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}