
@font-face {
	font-family: 'Lato Thin';
	src: url('../fonts/Lato-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TeX Gyre Adventor';
	src: url('../fonts/texgyreadventor-bold.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'Lato Thin';
	src: url('../fonts/Lato-ThinItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Cantarell Thin';
	src: url('../fonts/Cantarell-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TeX Gyre Adventor';
	src: url('../fonts/texgyreadventor-bolditalic.woff') format('woff');
	font-weight: bold;
	font-style: Bold Italic;
}

@font-face {
	font-family: 'TeX Gyre Adventor';
	src: url('../fonts/texgyreadventor-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TeX Gyre Adventor';
	src: url('../fonts/texgyreadventor-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TeXGyreChorus';
	src: url('../fonts/texgyrechorus-mediumitalic.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'TeXGyreHerosCn';
	src: url('../fonts/texgyreheroscn-bold.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'TeXGyreHerosCn';
	src: url('../fonts/texgyreheroscn-bolditalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TeXGyreHerosCn';
	src: url('../fonts/texgyreheroscn-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TeXGyreHerosCn';
	src: url('../fonts/texgyreheroscn-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TeX Gyre Pagella';
	src: url('../fonts/texgyrepagella-bold.woff') format('woff');
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: 'TeX Gyre Pagella';
	src: url('../fonts/texgyrepagella-bolditalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'TeX Gyre Pagella';
	src: url('../fonts/texgyrepagella-italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'TeX Gyre Pagella';
	src: url('../fonts/texgyrepagella-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR Bold';
	src: url('../fonts/NotoSansKR-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR Regular';
	src: url('../fonts/NotoSansKR-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans KR Thin';
	src: url('../fonts/NotoSansKR-Thin.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
